<% this.adminPage = 'other'; %>
<% include admin_header %>
<form method="post" class="ui form">
  <p><button class="ui blue labeled icon button" name="type" value="reset_count" type="submit"><i class="ui repeat icon"></i>重新计算提交及 AC 数</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_discussion" type="submit"><i class="ui repeat icon"></i>重新计算讨论版回复数和回复时间</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_codelen" type="submit"><i class="ui repeat icon"></i>重新计算提交代码长度</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_problem" type="submit"><i class="ui repeat icon"></i>重新设置题目</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_timelimit" type="submit"><i class="ui repeat icon"></i>将题目时限开大1.5倍</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_submittime" type="submit"><i class="ui repeat icon"></i>重新设置评测时限，非慢机请勿作此操作</button></p>
</form>
<% include admin_footer %>
